<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Reactive Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form 
      action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      [formGroup]="reactiveData"
      >
        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Nome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu Nome..."
            formControlName="name"
            >
            <mat-error>
              <span *ngIf="reactiveData.controls['name'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['name'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

          <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu Sobrenome..."
            formControlName="lastname"       
            >
         <mat-error>
            <span *ngIf="reactiveData.controls['lastname'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['lastname'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Username</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu nome de usuário..."
            formControlName="username"       
            >
         <mat-error>
            <span *ngIf="reactiveData.controls['username'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['username'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Telefone</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu número de telefone..."
            formControlName="phonenumber"       
            >
         <mat-error>
            <span *ngIf="reactiveData.controls['phonenumber'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['phonenumber'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Endereço</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite seu endereço..."
            formControlName="adress"       
            >
         <mat-error>
            <span *ngIf="reactiveData.controls['adress'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['adress'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Complemento</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Digite um complemento (opcional)"
            formControlName="complement"       
            >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="Digite a sua senha..."
            formControlName="password"       
            >
         <mat-error>
            <span *ngIf="reactiveData.controls['password'].getError('required')">Este campo é obrigatorio</span>
              <span *ngIf="reactiveData.controls['password'].getError('minlength')">Faltam caracteres(no mínimo 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Confirmação de senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="Confirme a sua senha..."
            formControlName="confirmPassword"
            required pattern="{{reactiveData.value.password}}"       
            >
            <mat-error>
              <span *ngIf="reactiveData.controls['confirmPassword'].getError('required')">Este campo é obrigatorio</span>       

           <!--  <span *ngIf="reactiveData.value.verifyPassword">  Fica vermelho e impede de clicar pra enviar, entretanto não mostra a mensagem.
            </span> --> 

            <span *ngIf="reactiveData.controls['password'].value != reactiveData.controls['confirmPassword'].value">
              As senhas são diferentes.Digite a mesma senha.
            </span>
            </mat-error>           
          </mat-form-field>
        </div>
       
        <div class="col">
         <button 
         mat-raised-button 
         type="submit" 
         color="primary" 
         class="grow"
         [disabled]="reactiveData.invalid"
         (click)="showDialog()"
         >Cadastrar
        </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
