<div class="container" *ngIf="prod != undefined" id="product" >
    <mat-card class="card">
      <img [src]="prod.picture" mat-card-image class= "card-img">
    
      <mat-card-header>
        <mat-card-title>{{ prod.name }}</mat-card-title>
        <mat-card-subtitle>{{ prod.price | currency:'BRL' }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <button mat-raised-button color = "accent">
          <a routerLink="/">
            <mat-icon>arrow_left</mat-icon>
          </a>
        </button>

        <button mat-raised-button 
        color="warn" 
        matTooltip="Deletar Produto" 
        matTooltipPosition="right" 
        (click)="delete(prod.id || 0)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-raised-button color="accent" (click)="edit()">
          <mat-icon>edit</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>