.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: fit-content;
}

.card-img {
    max-height: 400px;
}

a {
    color:white;
}