<!-- <mat-toolbar color="primary">
  <mat-list class="list">
    <mat-list-item>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </mat-list-item>
  </mat-list>
</mat-toolbar>
 -->

 
<router-outlet></router-outlet>