<h2 mat-dialog-title> Dados de {{ username }}</h2>
<div mat-dialog-content>
  <mat-progress-spinner 
  color="accent"
  mode="indeterminate"
  *ngIf="user == null; else content">
  </mat-progress-spinner>

  <ng-template #content>
    <a [href]="user?.html_url" target="blank">
        {{ user?.name }}
    </a>
</ng-template>
</div>