<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Template-Driven</mat-card-title>
      </mat-card-header>  
      <mat-card-content>
        <form action="#" id="main-form" (ngSubmit)="submit()"
        #form="ngForm"
        >
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Digite seu nome..."
            [(ngModel)]="name"
            name="name"
            autocomplete="false"
            required
            minlength="3"
            #inputName="ngModel"
            >
  
            <mat-error *ngIf="inputName.invalid">
              <span *ngIf="inputName.errors?.['minlength']">
                Você não colocou a quantidade de caracteres mínimos (minimo, 3)
              </span>
              <span *ngIf="inputName.errors?.['required']">
              Este campo é obrigatório</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="grow">
            <mat-label>Sobrenome</mat-label>
            <input type="text" matInput placeholder="Digite seu sobrenome..."
            [(ngModel)]="lastname"
            name="lastName"
            autocomplete="false"
            required
            minlength="3"
            #inputLastName="ngModel" 
            >
            <mat-error>
              
              <span *ngIf="inputLastName.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputLastName.errors?.['minlength']">
                Você não colocou a quantidade de caracteres mínimos (minimo, 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Digite o seu nome de usuário..."
            [(ngModel)]="username"
            name="username"
            autocomplete="false"
            required
            minlength="3"
            #inputUsername="ngModel"
            >
            <mat-error>
              <span *ngIf="inputUsername.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputUsername.errors?.['minlength']">
                Você não colocou a quantidade de caracteres mínimos (minimo, 3)
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Telefone</mat-label>
            <input type="text" matInput placeholder="Digite o seu número de telefone..."
            [(ngModel)]="phonenumber"
            name="phonenumber"
            autocomplete="false"
            required
            minlength="3"
            #inputPhoneNumber="ngModel"
            >
            <mat-error>
              <span *ngIf="inputPhoneNumber.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputPhoneNumber.errors?.['minlength']">
                Você não colocou a quantidade de numeros mínimos (minimo, 3)
              </span>     
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Endereço</mat-label>
            <input type="text" matInput placeholder="Digite o seu endereço..."
            [(ngModel)]="adress"
            name="adress"
            autocomplete="false"
            required
            minlength="6"
            #inputAdress="ngModel"
            >
            <mat-error>
              <span *ngIf="inputAdress.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputAdress.errors?.['minlength']">
                Você não colocou a quantidade de numeros mínimos (minimo, 6)
              </span>     
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Complemento</mat-label>
            <input type="text" matInput placeholder="Digite um complemento (opcional)"
            [(ngModel)]="complement"
            name="complement"
            autocomplete="false"
            #inputAdress="ngModel"
            >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Digite a sua senha"
            [(ngModel)]="password"
            name="password"
            autocomplete="false"
            required
            minlength="6"
            #inputPassword="ngModel"
            >
            <mat-error>
              <span *ngIf="inputPassword.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputPassword.errors?.['minlength']">
                Você não colocou a quantidade de numeros mínimos (minimo, 6)
              </span>           
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="grow" >
            <mat-label>Confirmar senha</mat-label>
            <input type="password" matInput placeholder="Digite a mesma senha"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            autocomplete="false"
            required
            minlength="6"
            #inputConfirmPassword="ngModel"

            >
            <mat-error>
              <span *ngIf="inputConfirmPassword.errors?.['required']">
                Este campo é obrigatorio
              </span>
              <span *ngIf="inputConfirmPassword.errors?.['minlength']">
                Você não colocou a quantidade de numeros mínimos (minimo, 6)
              </span>    


              
 
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col">
          <button mat-raised-button type="submit" color="accent"
          class="grow"
          [disabled]="form.invalid
          || mustMatch(inputPassword.value, inputConfirmPassword.value)"
          (click)="showDialog()" 
          >Cadastrar</button>
        </div>
      </form>
      </mat-card-content>  
    </mat-card>
  </div>