<div class="container">
    <mat-form-field appearance="outline">
      <mat-label>Pesquise um produto</mat-label>
      <input 
      type="text" 
      matInput
      [(ngModel)]="productName"
      (keyup.enter)="findProduct()"
      (input)="search()"
      >
    </mat-form-field>
    <a routerLink="/new">Crie um novo produto</a>

    <a routerLink="/products">Ver produtos</a>

  </div>

  <router-outlet></router-outlet>