<div class="container">
    <mat-card *ngFor="let p of prodsSub$ | async" class="card">
        
      <img [src]="p.picture" mat-card-image>
      <mat-card-header>
        <mat-card-title> {{p.name}} </mat-card-title>

        <mat-card-subtitle>{{p.price | currency:'BRL'}}</mat-card-subtitle>
      </mat-card-header>


       <mat-card-actions>

     <button mat-raised-button color="primary" [routerLink]="'/product/' + p.name">Detalhes</button>

      </mat-card-actions>


         



    </mat-card>
  </div>