.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: min-content;
    gap: 20px;
    justify-content: center;
    padding: 20px 0 ;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

